html, body, .card, video {
    font-size: 15px;
    line-height: 1.25;
    padding: 0px;
    margin: 0px;
    border: none;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: stretch;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    background-color: #fff;
}

video {
    width: 100%;
}

.title {
    text-align: center;
}
